<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_includes') %>
  <title>map details</title>
</head>
<body>
  <%- include('partials/_nav') %>
  <h2>Map details</h2>

  <!-- MAP HERE -->
  <div id="map"></div>
  <%- include('partials/_map') %>

  <!-- DETAILS -->
  <div id="current-position">
    <h4>Details</h4>
    <h5>Title:</h5>
    <p id="title" name="title"><%= title %></p>
    <h5>Position:</h5>
    <p id="position" name="position"><%= lat %> <%= long %></p>
    <h5>Description:</h5>
    <p id="description" name="description"><%= description %></p>
  </div>
  <form method="GET" action="/">
    <button type="submit" class="btn btn-outline-primary">Home</button>
  </form>
</body>
</html>
