<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Home</title>
</head>
<body>
  <%- include('partials/_header') %>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Coolest map</h1>
      <p class="lead my-3">Post, view and favorite maps all around the world</p>
      <p class="lead mb-0">
        <form method="GET" action="/search">
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Search Now!</button>
        </form>
      </p>
    </div>
  </div>

  <h3>Recommandation</h3>

  <% for(const map of locations) { %>
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= map['name'] %></h4>
      </div>
      <div class="card-body">

        <ul class="list-unstyled mt-3 mb-4">
          <li><%= map['id'] %></li>
          <li><%= map['lat'] %></li>
          <li><%= map['long'] %></li>
          <li><%= map['description'] %></li>
        </ul>
        <form method="GET" action="/detail/<%= map['id'] %>">
          <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Details</button>
        </form>
      </div>
    </div>
  </div>
  <% } %>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
