<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_includes') %>
  <title>My Points</title>
</head>
<body>
  <%- include('partials/_nav') %>
  <%= greeting %>

  <h3>My Points</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Position(lat)</th>
        <th scope="col">Position(lng)</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <% for(let map in db) { %>
      <tr>
        <td><%= db[map]['id'] %></td>
        <td><%= db[map]['title'] %></td>
        <td><%= db[map]['coords']['lat'] %></td>
        <td><%= db[map]['coords']['lng'] %></td>
        <td><%= db[map]['description'] %></td>
        <td><%= db[map]['category'] %></td>
        <form method="GET" action="/detail/<%= db[map]['id'] %>">
          <td><button type="submit" class="btn btn-outline-primary">Details</button></td>
        </form>
      </tr>
      <% } %>
  </table>
</body>
</html>
